$spacer: 1em;

#accountMain {
  h1 {
    margin: 0px 5em;
    padding: 5px 0px;
    text-align: center;
    background-color: tan;
  }
  #readAccountSection {
    display: grid;
    background-color: tan;
    margin: auto;
    form {
      padding: ($spacer * 1);

      div {
        margin: 0.25em;
        text-align: center;
        label {
          background-color: rgb(236, 185, 118);
          text-align: start;
          width: 20%;
        }
        input {
          width: 20%;
        }
      }
      #formSubmitRead {
        margin-left: 20%;
        width: 20%;
      }
    }
    #readAccountInfo {
      p {
        // b {}
        span {
          color: green;
        }
      }
    }
    #readAccountMessage {
      text-align: center;
      color: red;
    }
  }

  #updateAccountSection {
    display: grid;
    background-color: tan;
    margin: auto;
    form {
      padding: ($spacer * 1);
      div {
        margin: 0.25em;
        text-align: center;
        label {
          background-color: rgb(236, 185, 118);
          text-align: start;
          width: 20%;
        }
        input {
          width: 20%;
        }
      }
      #formSubmitUpdate {
        margin-left: 20%;
        width: 20%;
      }
    }
    #updateSuccess {
      color: green;
    }
    #updateFailed {
      text-align: center;
      color: red;
    }
  }

  #deleteAccountSection {
    display: grid;
    background-color: tan;
    margin: auto;
    form {
      padding: ($spacer * 1);
      div {
        margin: 0.25em;
        text-align: center;
        label {
          background-color: rgb(236, 185, 118);
          text-align: start;
          width: 20%;
        }
        input {
          width: 20%;
        }
      }
      #formSubmitDelete {
        margin-left: 20%;
        width: 20%;
      }
    }
    #deleteSuccess {
      color: green;
    }
    #deleteFailed {
      text-align: center;
      color: red;
    }
  }
}
