$borderColor: #44190b;
$bgColor: tan;
$buttonBackground: #1d8e50;

#aiInterfaceArea {
  #aiInterfaceButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    font-size: 1.2em;
    border-radius: 15px;
    border: 2px solid $borderColor;
    background-color: $buttonBackground;
    color: gold;
  }
  #aiInterface {
    position: fixed;
    bottom: 85px;
    right: 40px;
    z-index: 2;
    max-height: 400px;
    max-width: 300px;
    background-color: $bgColor;
    border: 2px solid $borderColor;
    border-radius: 10px;
    width: 100%;

    form {
      #labelArea {
        label {
          width: 100%;
        }
      }
      #outputArea {
        flex-grow: 1;
        div {
          border: 2px double $borderColor;
          border-radius: 10px;
          max-height: 200px;
          height: 200px;
          overflow-x: hidden;
          overflow-y: scroll;
          overflow-wrap: break-word;
          background-color: white;

          #questionOutput {
            color: black;
          }
          #answerOutput {
            color: green;
          }
        }
      }
      #questionArea {
        border-radius: 15px;
        div {
          padding: 0px 1px;
          text-align: center;
          #question {
            width: 100%;
            border: 2px ridge $borderColor;
            border-radius: 10px;
            height: 4rem;
            resize: none;
          }
        }
      }
      #buttonArea {
        border-radius: 15px;
        align-content: end;
        div {
          padding: 0px 1px;
          text-align: center;
          .interfaceButton {
            width: 100%;
            color: gold;
            background-color: $buttonBackground;
            border: 2px solid $borderColor;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
