$navText: #00b300;
$navTextHover: #b4f298;

$primaryFont: "edosz";
$cursorIcon: url(../../assets/images/cursor/cursorIcon.png);

@font-face {
  font-family: "edosz";
  src: url("../../assets/fonts/edosz.ttf");
}

#collapsibleNavbar {
  font-family: $primaryFont;
  #homeNavDiv {
    a {
      font-size: 3vw;
      color: $navText;
      &:hover {
        color: $navTextHover;
        background: none !important;
        cursor: $cursorIcon, pointer;
      }
    }
  }
  div {
    ul {
      margin-left: 1vw;
      a {
        padding: 0px;
        margin-left: 1vw;
        text-decoration: none;
        color: $navText;
        font-size: 2.2vw;

        &:hover {
          color: $navTextHover;
          background: none !important;
          cursor: $cursorIcon, pointer;
        }
      }
    }
    #dropDownArea {
      list-style-type: none;
      a {
        padding: 0px;
        margin-left: 1vw;
        text-decoration: none;
        color: $navText;
        font-size: 2vw;

        &:hover {
          color: $navTextHover;
          background: none !important;
          cursor: $cursorIcon, pointer;
        }
      }
    }
  }
  ul {
    margin-left: 1vw;
    button {
      width: fit-content;
      margin: 0px 10px;

      &:hover {
        cursor: $cursorIcon, pointer;
      }
    }
  }

  #signInContent,
  #createAcountContent {
    font-family: Arial, Helvetica, sans-serif;
  }
}
