$body-bg: #b3b3b3;
$borderColor: #44190b;

@mixin textShadow {
  text-shadow: 2px 2px rgb(94, 94, 94);
}

.textShadow {
  @include textShadow;
}

#contactMain {
  h1 {
    background-color: $body-bg;
    opacity: 0.9;
  }
  .formSection {
    border: 3px solid $borderColor;
    justify-items: center;
    background-color: rgba(68, 25, 11, 0.5);
    form {
      .card {
        background-color: tan;
        div {
          margin: 5px 0px;
          justify-content: start;
          label {
            text-align: left;
          }
          input,
          textarea {
            width: 100%;
          }
        }
        #ratingDiv {
          text-align: center;
          input {
            margin: 0 3px;
          }
        }
      }
    }
  }
}
