.carousel-item {
  background-color: rgba(68, 25, 11, 0.5);
  .carouselCaption {
    .captionTitle,
    .captionDescription {
      color: black;
      background-color: tan;
      margin: auto;
      flex-wrap: wrap;
      display: inline-block;
    }
  }
}
