$spacer: 1em;
$borderColor: #44190b;
$bgColor: tan;
$buttonBackground: #1d8e50;

#accountMain {
  border: 3px solid $borderColor;
  h1 {
    margin: 0px 5em;
    padding: 5px 0px;
    text-align: center;
    background-color: $bgColor;
    border: 2px solid $borderColor;
  }
  .accountFormSection {
    display: grid;
    background-color: $bgColor;
    border: 2px solid $borderColor;
    margin: auto;
    form {
      padding: ($spacer * 1);

      div {
        margin: 0.25em;
        text-align: center;
        label {
          background-color: rgb(236, 185, 118);
          text-align: start;
          width: 20%;
        }
        input {
          width: 20%;
        }
      }
      #formSubmitRead {
        margin-left: 20%;
        width: 20%;
      }
    }
    #readAccountInfo {
      p {
        span {
          color: green;
        }
      }
    }
    #readAccountMessage,
    .failed {
      text-align: center;
      color: red;
    }
    .success {
      color: green;
    }
  }

  #accountInfo {
    margin: auto;
    background-color: $bgColor;
    border: 2px solid $borderColor;

    div {
      display: flex;
      justify-content: center;
      align-items: start;
      margin: 0.25em;
      font-size: 1.25rem;

      .spanLabel {
        font-weight: bold;
      }
      .infoItem {
        color: green;
      }
    }
  }
}

#notSignedIn {
  color: red;
  text-align: center;
  h1 {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
  }
}
