$borderColor: #44190b;

@mixin boxShadow {
  box-shadow: 2px 2px grey;
}

#shopMain {
  #sectionTea {
    border: 3px solid $borderColor;
    background-color: rgba(68, 25, 11, 0.5);
    .row {
      opacity: 1;
      .col {
        font-size: small;
        article {
          margin: 1px;
          width: 100%;
          height: 500px;
          align-items: center;
          img {
            max-width: 100%;
            height: 70%;
          }
          .card-body {
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  #sectionCart {
    border: 3px solid $borderColor;
    background-color: rgba(68, 25, 11, 0.5);
    #sectionCartArea {
      div {
        background-color: tan;
        button {
          width: 100%;
        }
      }
      h4 {
        text-align: center;
      }
    }
    button {
      @include boxShadow;
    }
  }
}
